/vendor/
/dispatch.php
/lang/wordpress-plugin-template.pot
/Gruntfile.js
/nbproject/private/
/nbproject/
save-commands.json
/.php_cs.cache
/__old/
/build/splash-connector/nbproject/private/
/build/splash-connector/vendor/
/reboot.sh
/.gh-pages/
/build/
/.idea/
/public/
