# Travis CI Configuration File

# Tell Travis CI we're using PHP
language: php

# Versions of PHP to test against
php:
    - "5.6"
#    - "7.0"
#    - "7.1"

# Specify versions of WordPress to test against
# WP_VERSION = WordPress version number (use "master" for SVN trunk)
# WP_MULTISITE = whether to test multisite (use either "0" or "1")
env:
  global:
    # Set build specific variables ...
    - SOURCE_DIR=src
    - VHOST_FILE=build/travis-ci-apache
    - VHOST_CONF=travis.conf
    - VHOST_URL=localhost
    - WP_VERSION=master WP_MULTISITE=0
 #   - WP_VERSION=4.8.1 WP_MULTISITE=0
 #   - WP_VERSION=master WP_MULTISITE=1
 #   - WP_VERSION=4.8.1 WP_MULTISITE=1
    
install:
  # Install Apache web server and FastCGI module ...
  - sudo apt-get install apache2 libapache2-mod-fastcgi > /dev/null
  
before_script:
    # Enable PHP-FPM and FastCGI ...
    - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
    - sudo a2enmod rewrite actions fastcgi alias
    - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
    - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
    # Disable Xdebug ...
    - phpenv config-rm xdebug.ini
    # Configure application's virtual host ...
    - sudo cp -f build/travis-ci-apache /etc/apache2/sites-available/travis.conf
    - sudo sed -e "s?%TRAVIS_BUILD_DIR%?$(pwd)?g" --in-place /etc/apache2/sites-available/travis.conf
    - echo "127.0.0.1       travis" | sudo tee -a /etc/hosts
    - sudo a2enmod rewrite
    - sudo a2ensite travis.conf
    - sudo service apache2 restart
    - cat /etc/apache2/sites-available/travis.conf    
        
    # Grab the setup script and execute
    - export PLUGIN_SLUG=$(basename $(pwd))
    - git clone --depth=50 --branch="$WP_VERSION" git://develop.git.wordpress.org/ /tmp/wordpress
    - cd ..
    - mv "$PLUGIN_SLUG" "/tmp/wordpress/src/wp-content/plugins/$PLUGIN_SLUG"
    - cd /tmp/wordpress
    - mysql -e "CREATE DATABASE wordpress_tests;" -uroot
    - cp wp-tests-config-sample.php wp-tests-config.php
    - sed -i "s/youremptytestdbnamehere/wordpress_tests/" wp-tests-config.php
    - sed -i "s/yourusernamehere/travis/" wp-tests-config.php
    - sed -i "s/yourpasswordhere//" wp-tests-config.php
    # Disable Wp Debug (Not to Show notice etc...) 
    - sed -i "s/WP_DEBUG/WP_NO_DEBUG/" wp-tests-config.php
    - sudo chmod 777 -Rf /tmp/wordpress
    - sudo chown www-data -Rf /tmp/wordpress
    
    # Move to Plugin Dir
    - cd "/tmp/wordpress/src/wp-content/plugins/$PLUGIN_SLUG"
#
#    # Installl Apache2 & Php-Fpm
#    - sudo apt-get update
#    - sudo apt-get install apache2 libapache2-mod-fastcgi
#    
#    # enable php-fpm    
#    - if [[ ${TRAVIS_PHP_VERSION:0:2} == "7." ]]; then sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/www.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.d/www.conf; fi
#    - sudo cp ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf.default ~/.phpenv/versions/$(phpenv version-name)/etc/php-fpm.conf
#    - sudo a2enmod rewrite actions fastcgi alias
#    - echo "cgi.fix_pathinfo = 1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
#    - ~/.phpenv/versions/$(phpenv version-name)/sbin/php-fpm
#    
#    # Configure Apache virtual hosts
#    - sudo cp -f build/travis-ci-apache /etc/apache2/sites-available/default.conf
#    - sudo sed -e "s?%TRAVIS_BUILD_DIR%?/tmp/wordpress/src?g" --in-place /etc/apache2/sites-available/default.conf
#    - sudo a2ensite default.conf
#    - sudo service apache2 restart
#    - cat /etc/apache2/sites-available/default.conf
    
    # Run Composer
    - composer update 

    - curl -sL -w "%{http_code}\\n" "http://127.0.0.1/readme.html" 
    - curl -sL -w "%{http_code}\\n" "http://travis/readme.html" 
    - curl -sL -w "%{http_code}\\n" "http://127.0.0.1/wp-content/plugins/Wordpress/vendor/splash/phpcore/soap.php" 
    - curl -sL -w "%{http_code}\\n" "http://travis/wp-content/plugins/Wordpress/vendor/splash/phpcore/soap.php" 

script: 
    - phpunit --version
#    - phpunit /tmp/wordpress/src/wp-content/plugins/Wordpress/vendor/splash/phpcore/Tests/Core/C01ClassesTest.php -c build/phpunit.xml.dist
    - phpunit -c build/phpunit.xml.dist

# Tells Travis CI not to run unit tests against the setup branch
branches:
    except:
        - setup
        
        
notifications:
  email:         
    on_success: never # default: change
    on_failure: never # default: always
