#includes:
#	- ./vendor/phpstan/phpstan-phpunit/extension.neon
parameters:
    bootstrapFiles:
        - "%currentWorkingDirectory%/grumphp/bootstrap.php"
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true 
    excludes_analyse:
            - %currentWorkingDirectory%/includes/*
            - %currentWorkingDirectory%/src/Tests/*
    universalObjectCratesClasses:
            - ArrayObject
    ignoreErrors:
            # WordPress Multisite Functions
            - "#Function get_blog_details not found#"
            - "#Function wpmu_delete_user not found#"

            # WordPress Mp Multilang Functions
            - "#Function wpm_[a-zA-Z0-9\\_]+ not found#"

            # WordPress Errors Return
            - '#[a-zA-Z0-9\\_]+ get_error_message\(\) [a-zA-Z0-9\\_]#'
            - '#[a-zA-Z0-9\\_]+::get_error_message\(\)#'

            - '#Access to an undefined property object::\$[a-zA-Z0-9\\_]#'
            - '#Parameter \#2 \$deprecated of function load_plugin_textdomain expects string, false given#'
            - '#Function wp_get_original_image_path invoked with 2 parameters, 1 required#'

            # WooCommerce Annotations Errors
            - '#Parameter \#1 \$value of method WC_Product_Attribute::set_name\(\) expects int, string given#'


            # PhpUnit Direct Access
            - '#Call to an undefined method [a-zA-Z0-9\\_]+ObjectInterface::load()#'
